.ProductPage {
  display: flex;
  height: 100vh;

  .backIcon {
    display: flex;
    height: 50px;
    width: auto;
    margin-top: 10rem;
    margin-left: 60px;
    color: black;
    position: fixed;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-left: 67rem;
    margin-top: 7rem;

    img {
      height: 600px;
      width: auto;
    }
  }

  &__item_price {
    margin-bottom: 40px;
  }

  &__item_description {
    margin-left: 7rem;
    margin-top: 7rem;
    width: 200px;
    height: auto;
    text-align: left;
    margin-bottom: 30px;
  }

  &__size {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item_info {
    font-size: 18px;
  }
}
