.Footer {
  display: flex;
  height: 10rem;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100vw;

  &__text {
    padding-top: 3.2rem;
    align-items: center;
    margin-left: 20px;
  }
}
